{% if clients %}
  <ul class="list-group col-4">
    {% for client in clients %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ client.last_name }}, {{ client.first_name }}
        <span class="btn btn-sm btn-danger" style="cursor: pointer;"
              hx-delete="{% url 'clients:delete-client' client.id %}"
              hx-target="#client-list">X</span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>You do not have any clients in your list</p>
{% endif %}
