<div class="d-flex justify-content-between">

  <section class="col-6">

    {% if messages %}
      <ul class="messages" hx-get="{% url 'clients:clear-messages' %}" hx-trigger="load delay:3s">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} {{ message.tags }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if clients %}
      <ul class="list-group col-12">
        {% for client in clients %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ client.last_name }}, {{ client.first_name }} (Active: {{ client.is_active }})
            <span class="btn btn-sm btn-danger" style="cursor: pointer;"
                  hx-delete="{% url 'clients:delete-client' client.id %}"
                  hx-target="#client-list">X</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You do not have any clients in your list</p>
    {% endif %}
  </section>

  <section class="col-4 offset-1">
    {% include 'partials/search.html' %}
  </section>
</div>
