<div class="d-flex justify-content-between">

  <section class="col-6">

    {% if messages %}
      <ul class="messages" hx-get="{% url 'clients:clear-messages' %}" hx-trigger="load delay:3s">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} {{ message.tags }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if clients %}
      <form class="sortable list-group col-12" hx-trigger="end" hx-post="{% url 'clients:sort-client' %}"
            hx-target="#client-list">
        <div class="htmx-indicator">Updating...</div>
        {% for client in clients %}
          <div>
            <input type="hidden" name="client_order" value="{{ client.pk }}"/>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a hx-get="{% url 'clients:detail-client' client.pk %}" hx-target="#client-list">
                {{ client.display_order }}. {{ client.last_name }}, {{ client.first_name }} ({{ client.pk }})
              </a>
              <span class="btn btn-sm btn-danger" style="cursor: pointer;"
                    hx-delete="{% url 'clients:delete-client' client.id %}"
                    hx-target="#client-list"><i class="bi-trash"></i></span>
            </li>
          </div>
        {% endfor %}
      </form>
    {% else %}
      <p>You do not have any clients in your list</p>
    {% endif %}
  </section>

  <section class="col-4 offset-1">
    {% include 'partials/search.html' %}
  </section>
</div>
